/*header*/

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--fontcolor);
	margin: 2vh 5vw 0.3vh 5vw;
}

/*logo*/

#logo {
	font-size: 3vmin;
	white-space: nowrap;
}

#logo__sailboat {
	width: 3vmin;
	height: 3vmin;
}

/*section with date and location*/

#choose__date--location {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid 1px var(--fontcolor);
	border-radius: 1rem;
	height: 3vh;
	align-self: center;
	justify-content: center;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}

input {
	cursor: pointer;
	width: 6.5vw;
	height: 2.6vh;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	border: none;
	font-size: 0.8vw;
	color: var(--fontcolor);
}

#input__left {
	border-radius: 0.5rem 0 0 0.5rem;
	margin-right: 0.5vw;
}

#input__right {
	margin-left: 0.5vw;
}

#image__date {
	width: 1.5vw;
	width: 1.5vh;
	margin: 0.4rem;
}

#image__location {
	width: 1.5vw;
	width: 1.5vh;
	margin: 0.4rem;
}

/*button hamburger menu*/

.button__hamburgermenu {
	cursor: pointer;
}

#button__menu--image {
	width: 2vw;
	height: 2vh;
}

/*button wishlist*/

.button__wishlist {
	font-size: 3vmin;
	margin-right: 1rem;
	cursor: pointer;
}

/*underline*/

.underline {
	height: var(--underlineHeightDesktop);
	background-color: #003755;
	opacity: 0.5;
	margin: 0 5vw 0.7vh 5vw;
}

/*breakepoints*/

@media screen and (max-width: 390px) {
	/*header*/

	header {
		align-items: center;
		margin: 2vh 5vw 0.1vh 5vw;
	}

	/*section with date and location*/

	#choose__date--location {
		height: 1.5vh;
	}

	input {
		cursor: pointer;
		width: 13vw;
		height: 1vh;
		margin-left: 0.7vw;
		margin-right: 0.7vw;
		font-size: 1.7vw;
	}

	#button__menu--image {
		width: 3vw;
		height: 3vh;
		margin-bottom: -0.9vh;
	}

	/*button wishlist*/

	.button__wishlist {
		margin: 0 1vw 0.6vh 0;
	}

	/*underline*/

	.underline {
		height: var(--underlineHeightMobile);
		margin: 0 5vw 0.4vh 5vw;
	}

	#image__date {
		display: none;
	}
	
	#image__location {
		display: none;
	}
}	