@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/*background*/

main {
	position: relative;
	max-width: 100%;
	height: 93.9vh;
	display: flex;
	justify-content: center;
}

main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 93vh;
	background: url(../../assets/Background_main.jpg) center / cover no-repeat;
	opacity: 0.7;
	z-index: -10;
	-webkit-mask-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%);
	background-attachment: fixed;
}

.main__main-section {
	width: 80vw;
	color: var(--fontcolor);
}

/*counter*/

.main__main-section-counter {
	display: flex;
	margin: 3vh auto 0 auto;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__main-section-counter-elements-title {
	font-size: 2rem;
	margin-bottom: 2vh;
}

.main__main-section-counter-elements-countdown {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*gap: 5px;*/
	justify-content: space-between;
}

.main__main-section-counter-elements-countdown-day-days,
.main__main-section-counter-elements-countdown-day-hours,
.main__main-section-counter-elements-countdown-day-minutes,
.main__main-section-counter-elements-countdown-day-seconds {
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*text*/

.main__text {
	margin: 7% 40% 7% 0;
}

.main__text-first-float {
	animation: float-text-up 300ms ease-in;
	transform: translateY(-25%);
	opacity: 0;
	animation-fill-mode: forwards;
}
.main__text-second-float {
	animation: float-text-up 300ms ease-in 150ms;
	transform: translateY(-25%);
	opacity: 0;
	animation-fill-mode: forwards;
}
.main__text-third-float {
	animation: float-text-up 300ms ease-in 300ms;
	transform: translateY(-25%);
	opacity: 0;
	animation-fill-mode: forwards;
}

h1 {
	font-size: 2vw;
	margin-bottom: 1vh;
}

h3 {
	font-size: 1.3vw;
}

.main__second-titel {
	line-height: 5vh;
}

h4 {
	font-size: 1vw;
}

h5 {
	font-size: 0.8vw;
}

p {
	font-size: 1vw;
}

/*first underline*/

.main__first-underline {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 2.5vh 0;
}

/*section with boats*/

.main__boats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--alternativeColor);
	height: 30vh;
}

.main__first-boat-jaktar {
	text-align: justify;
	animation: float-cards-up 300ms ease-in 500ms;
	transform: translateY(-4vh);
	opacity: 0;
	animation-fill-mode: forwards;
}

.main__second-boat-axopar {
	text-align: justify;
	animation: float-cards-up 300ms ease-in 650ms;
	transform: translateY(-4vh);
	opacity: 0;
	animation-fill-mode: forwards;
}

.main__third-boat-hallbergrassy {
	text-align: justify;
	animation: float-cards-up 300ms ease-in 800ms;
	transform: translateY(-4vh);
	opacity: 0;
	animation-fill-mode: forwards;
}

.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
	width: 25vw;
	height: 25vh;
	border-radius: 0.5rem;	
	object-fit: cover;
	box-shadow: 0.1vw 0.1vw 0.8vw var(--boxShadowColor);
	display: none;
}

.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
	display: block;
	object-fit: cover;
}

/*dots*/

.main__first-boat-jaktar-dots, .main__second-boat-axopar-dots, .main__third-boat-hallbergrassy-dots {
	position: absolute;
	bottom: 0.8vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 30;
}

.main__dot-jaktar, .main__dot-axopar, .main__dot-hallbergrassy {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	margin: 0 0.1vw 0 0.1vw;
	transition: 0.4s ease;
	z-index: 20;
}

.main__dot-jaktar--active, .main__dot-axopar--active, .main__dot-hallbergrassy--active {
	background-color: rgb(0, 0, 0);
	border: solid 0.02em var(--alternativeColor);
}

.main__button-like-jaktar, .main__button-like-axopar, .main__button-like-hallbergrassy {
	position: absolute;
	top: 10%;
	right: 0.7vw;
	z-index: 30;
	transform: translateY(-50%);
	width: 2vw;
	height: 2vh;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

/*like images*/

.main__image-like-jaktar, .main__image-like-axopar, .main__image-like-hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.main__image-like-jaktar {
	/*display: none;*/
}

.main__image-like-axopar {
	/*display: none;*/
}

.main__image-like-hallbergrassy {
	/*display: none;*/
}

.main__image-like-red-jaktar, .main__image-like-red-axopar, .main__image-like-red-hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.main__image-like-red-jaktar {
	display: none;
}

.main__image-like-red-axopar {
	display: none;
}

.main__image-like-red-hallbergrassy {
	display: none;
}

.main__previous-button-jaktar, .main__previous-button-axopar, .main__previous-button-hallbergrassy {
	position: absolute;
	top: 50%;
	left: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
	animation-name: fade;
	animation-duration: 0.5s;
}

.main__next-button-jaktar, .main__next-button-axopar, .main__next-button-hallbergrassy {
	position: absolute;
	top: 50%;
	right: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
	animation-name: fade;
	animation-duration: 0.5s;
}

.main__first-boat-jaktar:hover .main__next-button-jaktar, .main__first-boat-jaktar:hover .main__previous-button-jaktar, .main__second-boat-axopar:hover .main__next-button-axopar, .main__second-boat-axopar:hover .main__previous-button-axopar, .main__third-boat-hallbergrassy:hover .main__next-button-hallbergrassy, .main__third-boat-hallbergrassy:hover .main__previous-button-hallbergrassy {
	display: block;
}

.main__first-boat-jaktar-elements, .main__second-boat-axopar-elements, .main__third-boat-hallbergrassy-elements {
	position: relative;
	margin-bottom: 0.7vh;
}

.main__image-arrow-left, .main__image-arrow-right {
	width: 2.7vw;
	height: 2.7vh;
}

.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
	text-shadow: 0.2vw 0.2vw 0.4vw var(--boxShadowColor);
}

/*second underline*/

.main__first-underline {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 3vh 0;
}

/*social media links*/

.main__social-media-links {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 1vh 10vw 1vh 0;
	gap: 1vw;
}

.main__button-instagram-mobile, .main__button-facebook-mobile {
	display: none;
}

.main__button-instagram, .main__button-facebook {
	width: 3vh;
	height: 3vh;
	cursor: pointer;
}

/*footer*/

.footer__elements {
	width: 100%;
	left: 0;
	position: absolute;
	background: #33647F;
	min-height: 10vh;
}

.footer__text {
	width: 80%;
	font-size: 0.8vw;
	color: white;
	position: relative;
	left: 9vw;
	padding-left: 1vw;
	padding-bottom: 1vh;
}

/*buttons*/

button:hover, button:active {
	/*transform: scale(1.002);*/
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	filter: var(--hoverShadowColor);
}

.main__window-added-wishlist--visible {
	display: block;
	font-size: 1.3vw;
}

.main__window-addded-wishlist {
	padding: 1vh 1.5vw 1.5vh 1vw;
	width: 20%;
	text-align: center;
	position: fixed;
	left: 50%;
	margin-left: -10%;
	bottom: 2vh;
	color: white;
	background-color: #33647F;
	border-radius: 0.5em;
	box-shadow: 0.2vw 0.2vw 1.5vw var(--boxShadowColor);
	animation: window-added-wishlist 300ms ease-in 300ms;
	transform: translateY(-25%);
	opacity: 0;
	animation-fill-mode: forwards;
	display: none;
}

/*keyframes*/
@keyframes fade {
	from 	
	{opacity: 0.4;};
	to 
	{opacity: 1;}
}

@keyframes float-text-up {
	0%	{
		transform: translateY(+4vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes float-cards-up {
	0%	{
		transform: translateY(+4vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}

}

@keyframes window-added-wishlist {
	0%	{
		transform: translateY(+4vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/*breakepoints*/

@media screen and (max-width: 768px) {
	
	/*text*/
	
	.main__text {
		margin: 5% 35% 3% 0;
	}
	
	h1 {
		font-size: 2.3vw;
		margin-bottom: 0.2vh;
	}
	
	h3 {
		font-size: 2vw;
	}
	
	.main__second-titel {
		line-height: 3.5vh;
	}
	
	h4 {
		font-size: 1vw;
	}
	
	p {
		font-size: 1.3vw;
	}
	
	/*Underline*/
	
	.main__first-underline {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}

	.main__first-underline {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}
	
	/*section with boats*/
	
	.main__boats {
		display: flex;
		flex-flow: column;
		color: var(--alternativeColor);
		width: 50vw;
		height: 69vh;
		margin: auto;
	}
	
	.main__first-boat-jaktar, .main__second-boat-axopar, .main__third-boat-hallbergrassy {
		text-align: justify;		
	}
	
	.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
		min-width: 50vw;
		height: 20vh;
		border-radius: 0.3em;	
		object-fit: cover;
		box-shadow: 0.5vw 0.5vw 1.5vw var(--boxShadowColor);
		display: none;
	}
	
	.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
		display: flex;
		object-fit: cover;
		flex-direction: column;
	}
	
	.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
		margin: 0 0 0.3vh 0;
	}
	
	.main__button-instagram, .main__button-facebook {
		width: 2.5vh;
		height: 2.5vh;
	}

	.main__previous-button-jaktar, .main__previous-button-axopar, .main__previous-button-hallbergrassy, .main__next-button-jaktar, .main__next-button-axopar, .main__next-button-hallbergrassy {
		display: block;
	}
}	

@media screen and (max-width: 390px) {

	.main__main-section {
		width: 95vw;
	}

	/*background*/

	main::before {
		background: none;
	}
		
	/*text*/
	
	.main__text {
		margin: 2% 25% 2% 0;
	}
	
	h1 {
		font-size: 4vw;
	}
	
	h3 {
		font-size: 2.5vw;
	}
	
	.main__second-titel {
		line-height: 4vh;
		font-size: 2.9vw;
	}
	
	h4 {
		font-size: 2.5vw;
	}
	
	p {
		font-size: 2.5vw;
	}

	.main__first-boat-jaktar-description h4, .main__second-boat-axopar-description h4, .main__third-boat-hallbergrassy-description h4 {
		font-size: 4.3vw;
	}

	.main__first-boat-jaktar-description h5, .main__second-boat-axopar-description h5, .main__third-boat-hallbergrassy-description h5 {
		font-size: 3.3vw;
	}
	
	/*Underline*/
	
	.main__first-underline {
		background-color: #003755;
		margin: 0.5vh 0 0.5vh 0;
	}
	
	/*section with boats*/
	
	.main__boats {
		display: flex;
		flex-flow: column;
		color: var(--fontcolor);
		width: 100%;
		height: 100%;
		margin: auto;
	}
	
	.main__first-boat-jaktar, .main__second-boat-axopar, .main__third-boat-hallbergrassy {
		text-align: justify;		
	}
	
	.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
		width: 100%;
		height: 30vh;
		box-shadow: none;
		display: none;
	}
	
	.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
		display: flex;
		flex-direction: column;
	}
	
	.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
		margin: 0 0 0.3vh 0;
		text-shadow: none;
	}

	.main__first-boat-jaktar-description h4, .main__second-boat-axopar-description h4, .main__third-boat-hallbergrassy-description h4 {
		font-size: 3.3vw;
		margin-top: -1vh;
	}

	.main__first-boat-jaktar-description h5, .main__second-boat-axopar-description h5, .main__third-boat-hallbergrassy-description h5 {
		font-size: 2.5vw;
	}

	/*like images*/

	.main__button-like-jaktar, .main__button-like-axopar, .main__button-like-hallbergrassy {
		right: 3%;
		width: 7vw;
		height: 7vh;
	}

	.main__image-like-jaktar, .main__image-like-axopar, .main__image-like-hallbergrassy {
		width: 7vw;
		height: 7vh;
	}

	.main__image-like-red-jaktar, .main__image-like-red-axopar, .main__image-like-red-hallbergrassy {
		width: 7vw;
		height: 7vh;
	}

	.previous__button {
		left: 2.5vw;
		width: 7vw;
		height: 7vh;
	}
	
	.next__button {
		right: 2.5vw;
		width: 7vw;
		height: 7vh;
	}
	
	.main__image-arrow-left, .main__image-arrow-right {
		width: 7vw;
		height: 7vh;
	}

	.main__social-media-links {
		justify-content: center;
		color: var(--boxShadowColor);
		gap: 3vw;
		margin: 3vh 0 3vh 0;
		padding-right: 0;
	}

	.main__button-instagram, .main__button-facebook {
		display: block;
	}

	.main__button-instagram-mobile, .main__button-facebook-mobile {
		display: none;
	}

	.main__button-instagram-mobile, .main__button-facebook-mobile {
		width: 2.5vh;
		height: 2.5vh;
		margin-bottom: 2vh;
	}
	
	.main__next-button-jaktar, .main__next-button-axopar, .main__next-button-hallbergrassy {
		right: 2.5vw;
	}

	.main__previous-button-jaktar, .main__previous-button-axopar, .main__previous-button-hallbergrassy {
		left: 2.5vw;
	}

	/*footer*/

	.footer__elements {
		height: 5vh;
	}

	.footer__text {
		display: none;
	}

	.main__window-added-wishlist--visible {
		display: block;
		font-size: 3vw;
	}

	.main__window-addded-wishlist {
		padding: 1vh 1vw 1vh 1vw;
		width: 50vw;
		bottom: 1.7vh;
		left: 50%;
		border-radius: 0.3em;
		margin-left: -25vw;
		display: none;
	}
}	
