.main__news-first-title {
	margin-top: 15vh;
  }

.main__news-main-section {
	display: flex;
	flex-direction: row;
	margin-bottom: 2vh;
}

.main__link-youtube {
	width: 50%;
	height: 40vh;
	border-radius: 0.5rem;
}

.main__news-second-title {
	margin-bottom: 2em;
}

.main__news-text {
	font-size: 1.5em;
}

.main__news-main-section-info {
	width: 40%;
	padding-left: 5vw;
}