@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/*background*/

main {
	background: url(../../assets/Background_main.jpg) center / cover no-repeat;
	max-width: 100%;
	height: 93.9vh;
	display: flex;
	justify-content: center;
	position: relative;
	/*opacity: 0.8;*/
	/*object-fit: contain;*/
}

.section__main {
	width: 80vw;
	color: var(--fontcolor);
}

/*text*/

.section__main--text {
	margin: 15% 40% 7% 0;
}

h1 {
	font-size: 2vw;
	margin-bottom: 1vh;
}

h3 {
	font-size: 1.3vw;
}

#second__titel {
	line-height: 5vh;
}

h4 {
	font-size: 1vw;
}

h5 {
	font-size: 0.8vw;
}

p {
	font-size: 1vw;
}

/*first underline*/

.section__main--underline--first {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 2.5vh 0;
}

/*section with boats*/

.boats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--alternativeColor);
	height: 30vh;
}

.first__boat--jaktar, .second__boat--axopar, .third__boat--hallbergrassy {
	text-align: justify;
}

.first__boat--jaktar--slides, .second__boat--axopar--slides, .third__boat--hallbergrassy--slides {
	width: 25vw;
	height: 25vh;
	border-radius: 0.5rem;	
	object-fit: cover;
	box-shadow: 0.1vw 0.1vw 0.8vw var(--boxShadowColor);
	display: none;
}

.first__boat--jaktar--slides--visible, .second__boat--axopar--slides--visible, .third__boat--hallbergrassy--slides--visible {
	display: block;
	object-fit: cover;
}

/*dots*/

.first__boat--jaktar--dots, .second__boat--axopar--dots, .third__boat--hallbergrassy--dots {
	position: absolute;
	bottom: 0.8vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 30;
}

.dot__jaktar, .dot__axopar, .dot__hallbergrassy {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	margin: 0 0.1vw 0 0.1vw;
	transition: 0.4s ease;
	z-index: 20;
}

.dot__jaktar--active, .dot__axopar--active, .dot__hallbergrassy--active {
	background-color: rgb(0, 0, 0);
	border: solid 0.02em var(--alternativeColor);
}

#like__button--jaktar, #like__button--axopar, #like__button--hallbergrassy {
	position: absolute;
	top: 10%;
	right: 0.7vw;
	z-index: 30;
	transform: translateY(-50%);
	width: 2vw;
	height: 2vh;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

/*like images*/

.image__like--jaktar, .image__like--axopar, .image__like--hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.image__like--jaktar {
	/*display: none;*/
}

.image__like--axopar {
	/*display: none;*/
}

.image__like--hallbergrassy {
	/*display: none;*/
}

.image__like--red--jaktar, .image__like--red--axopar, .image__like--red--hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.image__like--red--jaktar {
	display: none;
}

.image__like--red--axopar {
	display: none;
}

.image__like--red--hallbergrassy {
	display: none;
}

#previous__button-jaktar, #previous__button-axopar, #previous__button-hallbergrassy {
	position: absolute;
	top: 50%;
	left: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	cursor: pointer;
}

#next__button-jaktar, #next__button-axopar, #next__button-hallbergrassy {
	position: absolute;
	top: 50%;
	right: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	width: 2.7vw;
	height: 2.7vh;
	cursor: pointer;
}

.first__boat--jaktar--elements, .second__boat--axopar--elements, .third__boat--hallbergrassy--elements {
	position: relative;
	margin-bottom: 0.7vh;
}

#image__arrow--left, #image__arrow--right {
	width: 2.7vw;
	height: 2.7vh;
}

.first__boat--jaktar--description, .second__boat--axopar--description, .third__boat--hallbergrassy--description {
	text-shadow: 0.2vw 0.2vw 0.4vw var(--boxShadowColor);
}

/*second underline*/

.section__main--underline--second {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 3vh 0;
}

/*social media links*/

.social__media--links {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1vw;
}

.button__instagram--mobile, .button__facebook--mobile {
	display: none;
}

#button__instagram, #button__facebook {
	width: 3vh;
	height: 3vh;
	cursor: pointer;
}

/*footer*/

#footer {
	font-size: 0.8vw;
	color: var(--alternativeColor);
	margin-top: 0.5vh 0 0.5vh 0;
}

/*buttons*/

button:hover, button:active {
	transform: scale(1.010);
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	filter: var(--hoverShadowColor);
}

/*breakepoints*/

@media screen and (max-width: 768px) {
	
	/*text*/
	
	.section__main--text {
		margin: 5% 35% 3% 0;
	}
	
	h1 {
		font-size: 2.3vw;
		margin-bottom: 0.2vh;
	}
	
	h3 {
		font-size: 1.3vw;
	}
	
	#second__titel {
		line-height: 3vh;
	}
	
	h4 {
		font-size: 1vw;
	}
	
	p {
		font-size: 1vw;
	}
	
	/*Underline*/
	
	.section__main--underline--first {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}

	.section__main--underline--second {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}
	
	/*section with boats*/
	
	.boats {
		display: flex;
		flex-flow: column;
		/*flex-wrap: nowrap;*/
		color: var(--alternativeColor);
		width: 50vw;
		height: 69vh;
		margin: auto;
	}
	
	.first__boat--jaktar, .second__boat--axopar, .third__boat--hallbergrassy {
		text-align: justify;		
	}
	
	.first__boat--jaktar--slides, .second__boat--axopar--slides, .third__boat--hallbergrassy--slides {
		min-width: 50vw;
		height: 20vh;
		border-radius: 0.3em;	
		object-fit: cover;
		box-shadow: 0.5vw 0.5vw 1.5vw var(--boxShadowColor);
		display: none;
		/*background: center cover no-repeat;*/
	}
	
	.first__boat--jaktar--slides--visible, .second__boat--axopar--slides--visible, .third__boat--hallbergrassy--slides--visible {
		display: flex;
		object-fit: cover;
		flex-direction: column;
	}
	
	.first__boat--jaktar--description, .second__boat--axopar--description, .third__boat--hallbergrassy--description {
		margin: 0 0 0.3vh 0;
	}
	
	#button__instagram, #button__facebook {
		width: 2.5vh;
		height: 2.5vh;
	}
}	

@media screen and (max-width: 390px) {

	.section__main {
		width: 90vw;
	}

	/*background*/
	main {
		background: none;
	}
		
	/*text*/
	
	.section__main--text {
		margin: 2% 25% 2% 0;
	}
	
	h1 {
		font-size: 2.7vw;
	}
	
	h3 {
		font-size: 2vw;
	}
	
	#second__titel {
		line-height: 1.5vh;
	}
	
	h4 {
		font-size: 1.5vw;
	}
	
	p {
		font-size: 1.3vw;
	}
	
	/*Underline*/
	
	.section__main--underline--first {
		background-color: #003755;
		margin: 0.5vh 0 0.5vh 0;
	}

	.section__main--underline--second {
		background-color: #003755;
		margin: 0.5vh 0 0.5vh 0;
	}
	
	/*section with boats*/
	
	.boats {
		display: flex;
		flex-flow: column;
		/*flex-wrap: nowrap;*/
		color: var(--fontcolor);
		width: 100%;
		height: 100%;
		margin: auto;
	}
	
	.first__boat--jaktar, .second__boat--axopar, .third__boat--hallbergrassy {
		text-align: justify;		
	}
	
	.first__boat--jaktar--slides, .second__boat--axopar--slides, .third__boat--hallbergrassy--slides {
		width: 100%;
		height: 30vh;
		box-shadow: none;
		display: none;
		/*background: center cover no-repeat;*/
	}
	
	.first__boat--jaktar--slides--visible, .second__boat--axopar--slides--visible, .third__boat--hallbergrassy--slides--visible {
		display: flex;
		flex-direction: column;
	}
	
	.first__boat--jaktar--description, .second__boat--axopar--description, .third__boat--hallbergrassy--description {
		margin: 0 0 0.3vh 0;
		text-shadow: none;
	}

	.first__boat--jaktar--description h4, .second__boat--axopar--description h4, .third__boat--hallbergrassy--description h4 {
		font-size: 3vw;
		margin-top: -1vh;
	}

	.first__boat--jaktar--description h5, .second__boat--axopar--description h5, .third__boat--hallbergrassy--description h5 {
		font-size: 2vw;
	}

	/*like images*/

	#like__button--jaktar, #like__button--axopar, #like__button--hallbergrassy{
		right: 3%;
		width: 5.5vw;
		height: 5.5vh;
	}

	.image__like--jaktar, .image__like--axopar, .image__like--hallbergrassy {
		width: 5.5vw;
		height: 5.5vh;
	}

	#previous__button {
		left: 1vw;
	}
	
	#next__button {
		right: 1vw;
		width: 6vw;
		height: 6vh;
	}
	
	#image__arrow--left, #image__arrow--right {
		width: 6vw;
		height: 6vh;
	}

	.social__media--links {
		justify-content: center;
		color: var(--boxShadowColor);
		gap: 3vw;
		margin: 7vh 0 3vh 0;
	}

	.button__instagram, .button__facebook {
		display: none;
	}

	.button__instagram--mobile, .button__facebook--mobile {
		display: block;
	}

	#button__instagram, #button__facebook {
		width: 2.5vh;
		height: 2.5vh;
	}

	footer {
		display: none;
	}
}	
