@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/*background*/

main {
	background: url(../../assets/Background_main.jpg) center / cover no-repeat;
	max-width: 100%;
	height: 93.9vh;
	display: flex;
	justify-content: center;
	position: relative;
	/*opacity: 0.8;*/
	/*object-fit: contain;*/
}

.main__main-section {
	width: 80vw;
	color: var(--fontcolor);
}

/*text*/

.main__text {
	margin: 15% 40% 7% 0;
}

h1 {
	font-size: 2vw;
	margin-bottom: 1vh;
}

h3 {
	font-size: 1.3vw;
}

.main__second-titel {
	line-height: 5vh;
}

h4 {
	font-size: 1vw;
}

h5 {
	font-size: 0.8vw;
}

p {
	font-size: 1vw;
}

/*first underline*/

.main__first-underline {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 2.5vh 0;
}

/*section with boats*/

.main__boats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--alternativeColor);
	height: 30vh;
}

.main__first-boat-jaktar, .main__second-boat-axopar, .main__third-boat-hallbergrassy {
	text-align: justify;
}

.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
	width: 25vw;
	height: 25vh;
	border-radius: 0.5rem;	
	object-fit: cover;
	box-shadow: 0.1vw 0.1vw 0.8vw var(--boxShadowColor);
	display: none;
}

.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
	display: block;
	object-fit: cover;
}

/*dots*/

.main__first-boat-jaktar-dots, .main__second-boat-axopar-dots, .main__third-boat-hallbergrassy-dots {
	position: absolute;
	bottom: 0.8vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 30;
}

.main__dot-jaktar, .main__dot-axopar, .main__dot-hallbergrassy {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	margin: 0 0.1vw 0 0.1vw;
	transition: 0.4s ease;
	z-index: 20;
}

.main__dot-jaktar--active, .main__dot-axopar--active, .main__dot-hallbergrassy--active {
	background-color: rgb(0, 0, 0);
	border: solid 0.02em var(--alternativeColor);
}

.main__button-like-jaktar, .main__button-like-axopar, .main__button-like-hallbergrassy {
	position: absolute;
	top: 10%;
	right: 0.7vw;
	z-index: 30;
	transform: translateY(-50%);
	width: 2vw;
	height: 2vh;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}




/*like images*/

.main__image-like-jaktar, .main__image-like-axopar, .main__image-like-hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.main__image-like-jaktar {
	/*display: none;*/
}

.main__image-like-axopar {
	/*display: none;*/
}

.main__image-like-hallbergrassy {
	/*display: none;*/
}

.main__image-like-red-jaktar, .main__image-like-red-axopar, .main__image-like-red-hallbergrassy {
	width: 2vw;
	height: 2vh;
}

.main__image-like-red-jaktar {
	display: none;
}

.main__image-like-red-axopar {
	display: none;
}

.main__image-like-red-hallbergrassy {
	display: none;
}




.main__previous-button-jaktar, .main__previous-button-axopar, .main__previous-button-hallbergrassy {
	position: absolute;
	top: 50%;
	left: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	cursor: pointer;
}

.main__next-button-jaktar, .main__next-button-axopar, .main__next-button-hallbergrassy {
	position: absolute;
	top: 50%;
	right: 0.3vw;
	z-index: 20;
	transform: translateY(-50%);
	cursor: pointer;
}

.main__first-boat-jaktar-elements, .main__second-boat-axopar-elements, .main__third-boat-hallbergrassy-elements {
	position: relative;
	margin-bottom: 0.7vh;
}

.main__image-arrow-left, .main__image-arrow-right {
	width: 2.7vw;
	height: 2.7vh;
}

.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
	text-shadow: 0.2vw 0.2vw 0.4vw var(--boxShadowColor);
}

/*second underline*/

.main__first-underline {
	height: var(--underlineHeightDesktop);
	background-color: var(--alternativeColor);
	opacity: 0.7;
	margin: 2.5vh 0 3vh 0;
}

/*social media links*/

.main__social-media-links {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1vw;
}

.main__button-instagram-mobile, .main__button-facebook-mobile {
	display: none;
}

.main__button-instagram, .main__button-facebook {
	width: 3vh;
	height: 3vh;
	cursor: pointer;
}

/*footer*/

.footer__text {
	font-size: 0.8vw;
	color: var(--alternativeColor);
	margin-top: 0.5vh 0 0.5vh 0;
}

/*buttons*/

button:hover, button:active {
	/*transform: scale(1.002);*/
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	filter: var(--hoverShadowColor);
}

/*breakepoints*/

@media screen and (max-width: 768px) {
	
	/*text*/
	
	.main__text {
		margin: 5% 35% 3% 0;
	}
	
	h1 {
		font-size: 2.3vw;
		margin-bottom: 0.2vh;
	}
	
	h3 {
		font-size: 1.3vw;
	}
	
	.main__second-titel {
		line-height: 3vh;
	}
	
	h4 {
		font-size: 1vw;
	}
	
	p {
		font-size: 1vw;
	}
	
	/*Underline*/
	
	.main__first-underline {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}

	.main__first-underline {
		height: var(--underlineHeightTablet);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1vh 0;
	}
	
	/*section with boats*/
	
	.main__boats {
		display: flex;
		flex-flow: column;
		/*flex-wrap: nowrap;*/
		color: var(--alternativeColor);
		width: 50vw;
		height: 69vh;
		margin: auto;
	}
	
	.main__first-boat-jaktar, .main__second-boat-axopar, .main__third-boat-hallbergrassy {
		text-align: justify;		
	}
	
	.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
		min-width: 50vw;
		height: 20vh;
		border-radius: 0.3em;	
		object-fit: cover;
		box-shadow: 0.5vw 0.5vw 1.5vw var(--boxShadowColor);
		display: none;
		/*background: center cover no-repeat;*/
	}
	
	.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
		display: flex;
		object-fit: cover;
		flex-direction: column;
	}
	
	.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
		margin: 0 0 0.3vh 0;
	}
	
	.main__button-instagram, .main__button-facebook {
		width: 2.5vh;
		height: 2.5vh;
	}
}	

@media screen and (max-width: 390px) {

	.main__main-section {
		width: 90vw;
	}

	/*background*/
	main {
		background: none;
	}
		
	/*text*/
	
	.main__text {
		margin: 2% 25% 2% 0;
	}
	
	h1 {
		font-size: 2.7vw;
	}
	
	h3 {
		font-size: 2vw;
	}
	
	.main__second-titel {
		line-height: 1.5vh;
	}
	
	h4 {
		font-size: 1.5vw;
	}
	
	p {
		font-size: 1.3vw;
	}
	
	/*Underline*/
	
	.main__first-underline {
		background-color: #003755;
		margin: 0.5vh 0 0.5vh 0;
	}

	.main__first-underline {
		background-color: #003755;
		margin: 0.5vh 0 0.5vh 0;
	}
	
	/*section with boats*/
	
	.main__boats {
		display: flex;
		flex-flow: column;
		/*flex-wrap: nowrap;*/
		color: var(--fontcolor);
		width: 100%;
		height: 100%;
		margin: auto;
	}
	
	.main__first-boat-jaktar, .main__second-boat-axopar, .main__third-boat-hallbergrassy {
		text-align: justify;		
	}
	
	.main__first-boat-jaktar-slides, .main__second-boat-axopar-slides, .main__third-boat-hallbergrassy-slides {
		width: 100%;
		height: 30vh;
		box-shadow: none;
		display: none;
		/*background: center cover no-repeat;*/
	}
	
	.main__first-boat-jaktar-slides--visible, .main__second-boat-axopar-slides--visible, .main__third-boat-hallbergrassy-slides--visible {
		display: flex;
		flex-direction: column;
	}
	
	.main__first-boat-jaktar-description, .main__second-boat-axopar-description, .main__third-boat-hallbergrassy-description {
		margin: 0 0 0.3vh 0;
		text-shadow: none;
	}

	.main__first-boat-jaktar-description h4, .main__second-boat-axopar-description h4, .main__third-boat-hallbergrassy-description h4 {
		font-size: 3vw;
		margin-top: -1vh;
	}

	.main__first-boat-jaktar-description h5, .main__second-boat-axopar-description h5, .main__third-boat-hallbergrassy-description h5 {
		font-size: 2vw;
	}

	/*like images*/

	.main__button-like-jaktar, .main__button-like-axopar, .main__button-like-hallbergrassy {
		right: 3%;
		width: 5.5vw;
		height: 5.5vh;
	}

	.main__image-like-jaktar, .main__image-like-axopar, .main__image-like-hallbergrassy {
		width: 5.5vw;
		height: 5.5vh;
	}

	.previous__button {
		left: 1vw;
		width: 6vw;
		height: 6vh;
	}
	
	.next__button {
		right: 1vw;
		width: 6vw;
		height: 6vh;
	}
	
	.main__image-arrow-left, .main__image-arrow-right {
		width: 6vw;
		height: 6vh;
	}

	.main__social-media-links {
		justify-content: center;
		color: var(--boxShadowColor);
		gap: 3vw;
		margin: 7vh 0 3vh 0;
	}

	.main__button-instagram, .main__button-facebook {
		display: none;
	}

	.main__button-instagram-mobile, .main__button-facebook-mobile {
		display: block;
	}

	.main__button-instagram-mobile, .main__button-facebook-mobile {
		width: 2.5vh;
		height: 2.5vh;
		margin-bottom: 2vh;
	}

	.footer__text {
		display: none;
	}
}	
