.main__news-main-section-info {
	width: 40%;
	padding-left: 5vw;
}

.main__news-first-title {
	margin-top: 15vh;
	font-size: 2.3vmax;
	scroll-snap-align: start;
  }

.main__news-main-section {
	display: flex;
	flex-direction: row;
	margin-bottom: 2vh;
}

.main__link-youtube {
	width: 40vw;
	height: 40vh;
	object-fit: contain;
	border-radius: 0.5rem;
}

.main__news-second-title {
	margin-bottom: 2em;
	font-size: 2vmax;
}

.main__news-text {
	font-size: 1.5vmax;
	white-space: nowrap;
}

.main__news-text-under {
	margin: 3vh 0 4vh 0;
	font-size: 1.12vmax;
}

.main__news-main-section-boats {
	display: flex;
	flex-direction: column;
	margin-bottom: 2vh;
	row-gap: 2vh;
	width: 50%;
	object-fit: contain;
}

.main__news-main-section-boats-firstboat,
.main__news-main-section-boats-secondboat,
.main__news-main-section-boats-thirdboat,
.main__news-main-section-boats-fourthboat,
.main__news-main-section-boats-fifthboat {
	scroll-snap-align: start;
}

.main__news-main-section-boats p {
	columns: 2 200px;
	column-gap: 1vw;
	column-rule: 0.08vw solid var(--fontcolor);
	break-inside: avoid;
}

.main__news-section-boats-text-comments {
	font-style: oblique;
	font-size: 0.9vmax;
}

.main__news-main-section-boats-underline {
	height: 0.1vh;
	width: 200%;
	background-color: var(--fontcolor);
}

.main__news-main-section-boats-svg {
	display: flex;
	justify-content: space-between;
	width: 200%;
}

.main__news-main-section-boats-svg-sailboat,
.main__news-main-section-boats-svg-waves,
.main__news-main-section-boats-svg-mountains,
.main__news-main-section-boats-svg-lighthouse {
	flex-direction: column;
	width: 2.4vw;	
	-webkit-box-reflect: below 0 linear-gradient(rgba(255, 255, 255, 0.01),
	rgba(255, 255, 255, 0.3));
	margin-top: -2vh;
}

.main__news-main-section-boats-svg-sea {
	display: flex;
	flex-direction: column;
}

.main__news-main-section-boats-svg-sea-waves {
	display: flex;
	flex-direction: row;
	opacity: 0.5;
}
.main__news-main-section-boats-svg-waves {
	-webkit-box-reflect: unset;
}

.main__news-main-section-boats-svg-mountains, .main__news-main-section-boats-svg-lighthouse {
	margin-bottom: 3vh;
}

.main__news-main-section-boats-svg-light {
	width: 10px;
	/*bottom: 1vh;*/
	justify-items: flex-start;
}

.hidden {
	opacity: 0;
}

.main__news-main-section-boats-svg-sailboat {
	animation: moved-sailboat-svg 25s linear infinite;
	margin-bottom: 1vh;
}

@keyframes moved-sailboat-svg {
	0%	{
		transform: translateX(0) rotate(0) translateY(0.5vh);
		opacity: 0;
	}
	10% {
		opacity: 1;
		transform: translateX(6.7vw) rotate(-10deg) translateY(0);
	}
	20% {
		transform: translateX(13.4vw) rotate(5deg) translateY(0.5vh);
	}
	30% {
		transform: translateX(20.1vw) rotate(-10deg) translateY(0);
	}
	40% {
		transform: translateX(26.8vw) rotate(5deg) translateY(0.5vh);
	}
	50% {
		transform: translateX(33.5vw) rotate(-10deg) translateY(0);
	}
	60% {
		transform: translateX(40.2vw) rotate(5deg) translateY(0.5vh);
	}
	70% {
		transform: translateX(46.9vw) rotate(-10deg) translateY(0);
	}
	80% {
		transform: translateX(53.6vw) rotate(5deg) translateY(0.5vh);
	}
	90% {
		transform: translateX(60.3vw) rotate(-10deg) translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateX(67vw) rotate(0) translateY(0.5vh);
		opacity: 0;
	}
}

.show {
	animation: float-text-up-news 400ms ease-in;
	animation-fill-mode: forwards;
}

@keyframes float-text-up-news {
	0%	{
		transform: translateY(+4vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.main__news-first-title {
		margin-top: 12vh;
	  }
	
	.main__news-main-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 2vh;
		white-space: nowrap;
	}
	
	.main__link-youtube {
		width: 80vw;
		border-radius: 0.3rem;
	}
	
	.main__news-second-title {
		margin-top: 1vh;
		margin-bottom: 1em;
	}
	
	.main__news-text {
		white-space: nowrap;
	}
	
	.main__news-main-section-info {
		width: 100%;
		padding-left: 0;
	}

	.main__news-main-section-boats {
		width: 100%;
	}

	.main__news-main-section-boats-underline {
		width: 100%;
	}

	.main__news-section-boats-text-comments {
		font-size: 1em;
	}
}

@media screen and (max-width: 390px) {
	.main__news-first-title {
		margin-top: 5vh;
	  }
	
	.main__link-youtube {
		width: 100%;
	}

	.main__news-section-boats-text-comments {
		font-size: 2.5vw;
	}
}