.main__news-first-title {
 margin-top: 20vh;
}

.main__link--youtube {
	width: 100%;
	height: 60vh;
	border-radius: 0.5rem;
}

.main__news-second-title {
	margin-top: 2vh;
}

.main__news-text {
	margin-top: 2vh;
}