.hamburger__menu {
	background-color: #33647F;
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 40;
	color: white;
	box-shadow: 0.5vw 0.5vw 1.5vw #041c29;
	text-shadow: 0.1vw 0.1vw 1vw #041c29;
	display: none;
}

.hamburger__menu--text {
	margin: 4vh 1vw 1vh 3vw;
	
}

#title__menu {
	font-size: 4vh;
	line-height: 10vh;
}

ul {
	font-size: 3vh;
	line-height: 5vh;
}

