.word--visible {
	color: rgb(255, 255, 255);
	display: inline;
}

.word--visible--displayLastTime {
	color: rgb(209, 229, 255);
}

.word--visible {
	animation-name: fade;
	animation-duration: 1.3s;
}

@keyframes fade {
	from 	
	{opacity: 0;};
	to 
	{opacity: 1;}
}

@media screen and (max-width: 390px) {
	.word--visible {
		color: rgb(50, 117, 52);
	}
	
	.word--visible--displayLastTime {
		color: rgb(48, 68, 48);
	}
}	








