
.word {
	/*font-size: 1.5rem;*/
}

.word--visible {
	color: rgb(255, 255, 255);
	display: inline;
}

.word--visible--displayLastTime {
	color: rgb(209, 229, 255);
}

.word--visible {
	animation-name: fade;
	animation-duration: 1.3s;
}

@keyframes fade {
	from 	
	{opacity: 0;};
	to 
	{opacity: 1;}
}









