.aside__wishlist {
	background-color: #33647F;
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	color: var(--alternativeColor);
	box-shadow: 0.5vw 0.5vw 1.5vw var(--boxShadowColor);
	text-shadow: 0.1vw 0.1vw 1vw var(--boxShadowColor);
	display: none;
	transition: 0.5s;
	z-index: 30;
}

.wishlist--visible {
	display: block;
	z-index: 50;
	animation-name: fade;
	animation-duration: 0.7s;
}

.aside__wishlist-elements {
	margin: 1vh 4vw 1vh 4vw;
}

.aside__title-wishlist {
	font-size: 3vh;
	line-height: 7vh;
}

.aside__wishlist-description {
	font-size: 0.7vw;
}

/*first underline*/

.aside__underline-first-wishlist {
	height: var(--underlineHeightWishlist);
	background-color: var(--alternativeColor);
	opacity: 0.5;
	margin: 0.5vh 0 1vh 0;
}

/*second underline*/

.aside__underline-second-wishlist {
	height: var(--underlineHeightWishlist);
	background-color: var(--alternativeColor);
	opacity: 0.5;
	margin: 1vh 0 1.5vh 0;
}

/*section with boats*/

.aside__boats-wishlist {
	display: flex;
	flex-direction: column;
	color: var(--alternativeColor);
	width: 100%;
}

.aside__first-boat-jaktar-wishlist, .aside__second-boat-axopar-wishlist, .aside__third-boat-hallbergrassy-wishlist {
	width: 100%;
	height: 100%;
	border-radius: 0.2em;	
	object-fit: cover;
	box-shadow: 0.1vw 0.1vw 0.3vw var(--boxShadowColor);
	text-align: justify;
}

.aside__first-boat-jaktar-elements-wishlist, .aside__second-boat-axopar-elements-wishlist, .aside__third-boat-hallbergrassy-elements-wishlist {
	position: relative;
	margin-bottom: 0.7vh;
}

.aside__first-boat-jaktar-wishlist--active {
	display: none;
}

.aside__second-boat-axopar-wishlist--active {
	display: none;
}

.aside__third-boat-hallbergrassy-wishlist--active {
	display: none;
}

/*Like button*/

.aside__like-button-jaktar-wishlist, .aside__like-button-axopar-wishlist, .aside__like-button-hallbergrassy-wishlist {
	position: absolute;
	top: 10%;
	right: 0.7vw;
	z-index: 20;
	transform: translateY(-50%);
}

.aside__image-like-red-jaktar-wishlist, .aside__image-like-red-axopar-wishlist, .aside__image-like-red-hallbergrassy-wishlist {
	width: 1.5vw;
	height: 1.5vh;
	cursor: pointer;
}

/*Description*/

.aside__first-boat-jaktar-description-wishlist, .aside__second-boat-axopar-description-wishlist, .aside__third-boat-hallbergrassy-description-wishlist {
	text-shadow: 0.1vw 0.1vw 0.2vw var(--boxShadowColor);
}

/*Animation*/

@keyframes fade {
	from 	
	{opacity: 0;};
	to 
	{opacity: 1;}
}

/*breakepoints*/

@media screen and (max-width: 768px) {
	.aside__wishlist {
		width: 50%;
	}

	.aside__wishlist-elements {
		margin: 1vh 10vw 1vh 10vw;
	}
	
	.aside__title-wishlist {
		font-size: 2.5vh;
		line-height: 5vh;
	}
	
	.aside__wishlist-description {
		font-size: 0.7vw;
	}
	
	/*first underline*/
	
	.aside__underline-first-wishlist {
		height: var(--underlineHeightWishlist);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 0.5vh 0 1vh 0;
	}
	
	/*second underline*/
	
	.aside__underline-second-wishlist {
		height: var(--underlineHeightWishlist);
		background-color: var(--alternativeColor);
		opacity: 0.5;
		margin: 1vh 0 1.5vh 0;
	}
	
	/*section with boats*/
	
	.aside__boats-wishlist {
		display: flex;
		flex-direction: column;
		color: var(--alternativeColor);
		width: 100%;
	}
	
	.aside__first-boat-jaktar-wishlist, .aside__second-boat-axopar-wishlist, .aside__third-boat-hallbergrassy-wishlist {
		width: 100%;
		height: 100%;
		border-radius: 0.2em;	
		object-fit: contain;
		box-shadow: 0.1vw 0.1vw 0.3vw var(--boxShadowColor);
		text-align: justify;
	}
	
	.aside__first-boat-jaktar-elements-wishlist, .aside__second-boat-axopar-elements-wishlist, .aside__third-boat-hallbergrassy-elements-wishlist {
		position: relative;
		margin-bottom: 0.7vh;
	}
	
	.aside__image-like-jaktar-wishlist, .aside__image-like-axopar-wishlist, .aside__image-like-hallbergrassy-wishlist {
		width: 2vw;
		height: 2vh;
	}

}	

@media screen and (max-width: 390px) {
	.aside__wishlist {
		width: 100%;
	}

	.aside__wishlist-elements {
		margin: 1vh 15vw 1vh 15vw;
	}
	
	.aside__title-wishlist {
		font-size: 2vh;
		line-height: 4vh;
	}
	
	.aside__wishlist-description {
		font-size: 2.5vw;
	}
	
	.aside__image-like-jaktar-wishlist, .aside__image-like-axopar-wishlist, .aside__image-like-hallbergrassy-wishlist {
		width: 4vw;
		height: 4vh;
	}

	.aside__image-like-red-jaktar-wishlist, .aside__image-like-red-axopar-wishlist, .aside__image-like-red-hallbergrassy-wishlist {
		width: 4vw;
		height: 4vh;
	}

	.aside__like-button-jaktar-wishlist, .aside__like-button-axopar-wishlist, .aside__like-button-hallbergrassy-wishlist {
		top: 12%;
		right: 3%;
		z-index: 20;
		transform: translateY(-50%);
	}
}	